<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - ITエンジニア育成カリキュラム">ITエンジニア育成カリキュラム</title>
    <meta name="_csrf" th:content="${_csrf?.token}">
    <script src="../static/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
<!--    <script src="../static/js/lib/bootstrap.bundle.min.js" th:src="@{/js/lib/bootstrap.bundle.min.js}"></script>-->
    <script src="../static/js/lib/chart.umd.min.js" th:src="@{/js/lib/chart.umd.min.js}"></script>
    <link href="../static/css/lib/bootstrap.min.css" th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
<!--    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">-->
    <link th:href="@{/css/giiku-style.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{_fragments/headers :: global}"></div>
    <section id="sub-header" layout:fragment="subheader"></section>
    <section id="page-header" layout:fragment="pageheader"></section>
    <main class="container mt-2" layout:fragment="content"></main>
    <div th:replace="~{_fragments/headers :: footer}"></div>
    <link href="/webjars/fortawesome__fontawesome-free/css/all.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/chart.js/dist/chart.umd.js"></script>
    <script src="/webjars/react/umd/react.development.js"></script>
    <script src="/webjars/react-dom/umd/react-dom.development.js"></script>
    <script src="/webjars/babel__standalone/babel.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
            dropdownElementList.forEach(function (dropdownToggleEl) {
                new bootstrap.Dropdown(dropdownToggleEl);
            });
        });
    </script>
</body>
</html>
