<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layouts/base}">
<head>
    <title>Month</title>
</head>
<body>
<section layout:fragment="subheader">
<!--    <div class="container mt-2">-->
<!--    <nav aria-label="breadcrumb" class="mb-4">-->
<!--        <ol class="breadcrumb">-->
<!--            <li class="breadcrumb-item"><a href="../index.html">ホーム</a></li>-->
<!--            <li class="breadcrumb-item active" aria-current="page">第1ヶ月目: Java Silver 17 対策</li>-->
<!--        </ol>-->
<!--    </nav>-->
<!--    </div>-->
</section>
<section layout:fragment="pageheader"></section>
<section layout:fragment="content"></section>
</body>
</html>
