<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layouts/day}">
<head>
    <meta charset="UTF-8">
    <title th:text="${day.dayName}">Day</title>
</head>
<body>
<div layout:fragment="pageheader" th:replace="~{_fragments/headers :: page(title=${pageTitle}, breadcrumb=${breadcrumbs})}"></div>
<section layout:fragment="content">
    <div class="container mb-5">
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title" th:text="${day.dayName}">Day Title</h2>
            </div>
            <div class="card-body">
                <p th:text="${day.description}">Description</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">講義一覧</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center" th:each="lecture : ${lectures}">
                        <a th:href="@{/lecture/{id}(id=${lecture.id})}" th:text="${lecture.title}"></a>
                        <a th:href="@{/lecture/lecture{num}.html(num=${lecture.lectureNumber})}" target="_blank" class="btn btn-warning btn-sm ms-2">講義スライドを開く</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>
