<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layouts/month}">
<head>
    <meta charset="UTF-8">
    <title th:text="${month.title}">Month</title>
</head>
<body>
<div layout:fragment="pageheader" th:replace="~{_fragments/headers :: page(title=${pageTitle}, breadcrumb=${breadcrumbs})}"></div>
<section layout:fragment="content">
    <div class="container mb-5">
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title" th:text="${month.title}">Month Title</h2>
            </div>
            <div class="card-body">
                <p th:text="${month.description}">Description</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">週別スケジュール</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="week : ${weeks}">
                        <a th:href="@{/week/week{num}(num=${week.weekNumber})}" th:text="${week.weekName}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>
